body, html{
    background-color: rgb(61, 61, 61);
    color: white;
    font-family: 'Roboto', sans-serif;
    display: grid;
}

.body-wrapper{
    flex-direction: row;
    display: grid;
    text-align: center;
    font-size: xx-large;
}

@media (max-width: 991px){
    .body-wrapper{
        font-size: 450%;
    }
}


.img-header{
    width: 3%;
    align-items: center;
    margin: auto;
}

@media (max-width: 991px){
    .img-header{
        width: 15%;
        margin: auto;
        text-align: center;
    }
}


.img-link{
    margin: auto;
   
    width: 2%;
    
}

@media (max-width: 991px){
    .img-link{
        width: 9%;
  }
}

.watermark{
    text-align: center;
    font-size: small;
    bottom: 0;
}

@media (max-width :991px){
    .watermark{
        font-size: x-large;
    }
}

.a-link{
    text-decoration: none;
    color: inherit;
    color: white;
}



