body, html{
    background-color: rgb(61, 61, 61);
    color: white;
    
    display: grid;
}

.body-wrapper{
    flex-direction: row;
    display: grid;
    text-align: center;
    font-size: xx-large;
}

.img-header{
    width: 3%;
    align-items: center;
    margin: auto;
}

@media (max-width: 991px){
    .body-wrapper{
        font-size: 450%;
    }
}

@media (max-width: 991px){
    .img-header{
        width: 15%;
        margin: auto;
        text-align: center;
    }
}


.img-link{
    margin: auto;
    width: 1%;
    
}

@media (max-width: 991px){
    .img-link{
        width: 9%;
        
  }
}





.a-link{
    text-decoration: none;
    color: inherit;
    color: white;
}

