body, html{
    background-color: rgb(61, 61, 61);
    color: white;
    text-align: center;
}

.flag-wrapper{
    position: relative;
    float: top;
    float: left;
    border: none;
}

.flag{
    position:absolute;
    top:0;
    right:0;
    max-width: 64px;
    float: top;
    float: left;
    border: none;

}