body, html{
    background-color: rgb(61, 61, 61);
    color: white;
    
    display: grid;
}

.body-wrapper{
    flex-direction: row;
    display: grid;
    text-align: center;
    
}



.a-link{
    text-decoration: none;
    color: inherit;
    color: white;
}

.img-link{
    margin: auto;
    width: 1%;
    
}