body, html{
    background-color: rgb(61, 61, 61);
    color: white;
    text-align: center;
}

.flag-wrapper{
    position: relative;
}

.flag{
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 64px;

}